.markdown-source-view, .markdown-preview-view, .markdown-preview-sizer { 
max-width: 1280px; margin: auto; 
} 


p, ul li {
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.125rem;
}

h1{
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  border: none;
}

h2{
  font-weight: 700;
  border: none;
}

h3{
  margin-top: 2em !important;
  font-weight: 600;
}

 h4{
  font-weight: 500;
}

 h5{
  font-weight: 500;
  font-size: 1.3rem;
}

nav{
    border: none;
    margin: 10px;
    box-shadow: ;
    border-radius: 8px;
    border: 2px solid #eee;
}

.main {
    padding: 10px 20px 100px 30px;
}

#index ol{
  border: 2px solid #eee;
  padding-left: 0px;
  border-radius: 8px;
}

#index li{
  font-weight: 500;
	font-size: 1.6rem;
  border-bottom: 2px solid #eee;
  list-style: none;
  padding: 5px 12px !important;
}


code, code {
	font-weight: 400;
	line-height: 1.8;
}

.wp-post-image{
	border-radius: 8px;
	box-shadow: 6px 6px 12px rgba(0,0,0,0.3);

}

 pre{
	border-radius: 5px;
		padding: 0;
}


code:not(.hljs) {
	padding: 3px 9px;
	border-radius: 5px;
	position: relative;
	top : -2px;
}

.language-powershell{
	background-color: #012456 !important;
}

.language-binary {
	background-color: transparent !important;
	padding: 0px !important;
}


p {
  margin-bottom: inherit;
  line-height: 1.6;
}


pre {
  margin-top: 0.5em;
	position: relative;
	background: #222222;
}

code:not(.hljs)::-moz-selection { /* Code for Firefox */
  color: black;
  background: #f9ce4e;
}

code{
	max-height: 1500px;
}


::-moz-selection { /* Code for Firefox */
  color: #f9ce4e;
  background: black;
}

::selection {
  color: #f9ce4e;
  background: black;
}

 h2{
	border-left: 15px solid var(--link-color);
	padding-left: 10px;
	margin-top: 5rem !important;
  font-size: 36px;
}

 h3{
	margin-top: 2em;
}

 ul{
	margin-top: 1.5em;
}

 ul li{
	padding-left: 10px;
}



 h5{
font-weight: 600;
	margin-top: 60px;
}

 h5::before{
	display: inline-block;
	position: relative;
	top: -4px;
  content: "";
	margin-right: 20px;
	width: 35px;
	height: 5px;
	border-radius: 20px;
	background: var(--link-color);
}

 h6{
	border-left: 5px solid var(--link-color);
	padding-left: 12px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	line-height: 2rem;
	font-weight: inherit;
}

 ul li{
	margin-bottom: 10px;
}


 table thead{
	background: var(--link-color);
	border-bottom: 2px solid white;
}

 table{
	border: 2px solid white;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 1.5em;
width: 100%;
box-sizing: inherit;
}

 [class^="wp-image-"],
 p img{
	border-radius: 6px;
}

 [class^="wp-image-"]{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}



blockquote{
	 font-size: 1.675rem;
   line-height: inherit;
   margin-top: 15px;
}

